<?php
define('NO_AGENT_CHECK', true);

require_once($_SERVER['DOCUMENT_ROOT'] . '/bitrix/modules/main/include/prolog_before.php');

$APPLICATION->IncludeComponent(
    '{{ COMPONENT_NAMESPACE }}:{{ COMPONENT_NAME }}',
    '',
    []
);